WEB.ADDR=127.0.0.1:9527
MYSQL.DSN=mysql://root:root@127.0.0.1:23306/axum_rs
MYSQL.MAX_CONNS=30
ADMIN_JWT.SECRET_KEY=随机字符
ADMIN_JWT.EXPIRED=7200
ADMIN_JWT.SUB=ADMINISTRATOR
USER_JWT.SECRET_KEY=随机字符
USER_JWT.EXPIRED=20
USER_JWT.SUB='USER'
REDIS.DSN=redis://127.0.0.1:6379
REDIS.PREFIX=axum_rs:
HCAPTCHA.SITE_KEY='10000000-ffff-ffff-ffff-000000000001'
HCAPTCHA.SECRET_KEY='0x0000000000000000000000000000000000000000'
RECAPTCHA.SITE_KEY=RECAPTCHA_SITE_KEY
RECAPTCHA.SECRET_KEY=RECAPTCHA_SECRET_KEY
USERS.REGISTER_DEFAULT_STATUS=Actived
USERS.REDIS_PREFIX=user:
USERS.REDIS_ALLOW_DRIVE_PREFIX=allow_drive:
USERS.REDIS_JWT_EXP_PREFIX=jwt_exp:
USERS.REDIS_ONLINE_PREFIX=online:
PROTECTED_TOPIC.REDIS_PREFIX=protected_topic:
PROTECTED_TOPIC.REDIS_EXPIRED=15
PROTECTED_TOPIC.MAX_PARAGRAPH_NUM=3
PROTECTED_TOPIC.MIN_CONTENT_PARAGRAPH_NUM=2
PROTECTED_TOPIC.GUEST_CAPTCHA=HCaptcha
PROTECTED_TOPIC.NORMAL_USER_CAPTCHA=HCaptcha
RUST_LOG='axum_rs=debug'