[Unit]
Description=axum.rs
After=network.target
Wants=network.target

[Service]
Type=simple
User=www-data
Group=www-data
PIDFile=/run/axum.rs.pid
WorkingDirectory=/var/www/axum.rs
ExecStart=/var/www/axum.rs/axum-rs
Restart=always
RestartSec=3
RestartPreventExitStatus=23

[Install]
WantedBy=multi-user.target