{% import "icon.html" as iconset %} {% macro aside_menu_item(label, url, icon)
%}
<li>
  <a
    href="{{url}}"
    class="w-full flex justify-start items-center gap-x-4 hover:bg-accent/90 py-2.5 px-6"
  >
    {{ iconset::icon(name = *icon)}} {{ label }}
  </a>
</li>
{% endmacro aside_menu_item %}
<ul class="my-3">
  {{ aside_menu_item(label = "专题", url = "/subject", icon = "news-paper")}} {{
  aside_menu_item(label = "文章", url = "/topic", icon = "document-duplicate")}}
  {{ aside_menu_item(label = "标签", url = "/tag", icon = "hash-tag")}} {{
  aside_menu_item(label = "服务", url = "/service", icon = "building")}} {{
  aside_menu_item(label = "购物车", url = "/cart", icon = "cart")}} {{
  aside_menu_item(label = "用户中心", url = "/user", icon = "user")}}
</ul>
<ul class="border-t">
  {{ aside_menu_item(label = "公告", url = "/subject", icon = "bell-alert")}} {{
  aside_menu_item(label = "关于", url = "/topic", icon = "light-bulb")}} {{
  aside_menu_item(label = "赞助", url = "/tag", icon = "heart")}}
</ul>
<ul class="border-t flex justify-start items-center gap-x-4 px-6 py-3">
  <li data-tooltip="博客" data-side="top">
    <a href="" target="_blank" rel="noopener noreferrer"
      >{{iconset::icon(name = "code-bracket", class = "size-6")}}</a
    >
  </li>
  <li data-tooltip="源码仓库" data-side="top">
    <a href="" target="_blank" rel="noopener noreferrer"
      >{{iconset::bs_icon(name = "github", class = "size-5")}}</a
    >
  </li>
  <li data-tooltip="TG群" data-side="top">
    <a href="" target="_blank" rel="noopener noreferrer"
      >{{iconset::bs_icon(name = "telegram", class = "size-5")}}</a
    >
  </li>
  <li data-tooltip="邮件" data-side="top">
    <a href="" target="_blank" rel="noopener noreferrer"
      >{{iconset::bs_icon(name = "email", class = "size-5")}}</a
    >
  </li>
  <li data-tooltip="RSS订阅" data-side="top">
    <a href="" target="_blank" rel="noopener noreferrer"
      >{{iconset::icon(name = "rss", class = "size-5")}}</a
    >
  </li>
</ul>
