{% extends "base.html" %} {% block content %}
<div class="card my-6">
  <header>
    <div class="flex justify-between items-center">
      <div class="flex items-center gap-x-2">
        <h2 class="font-semibold cursor-pointer text-lg">推荐专题</h2>
        <h2 class="font-light cursor-pointer text-lg">随机专题</h2>
      </div>
      <div>
        <a href="" class="btn-sm-secondary">全部专题</a>
      </div>
    </div>
  </header>
  <section>
    <ul class="grid grid-cols-4 gap-4">
      <li
        class="flex items-center gap-x-4 bg-accent/60 rounded-lg p-4 hover:bg-accent/90"
      >
        <img
          src="https://file.axum.eu.org/icons/rust/rust-plain.svg"
          class="size-12 object-cover shrink-0"
        />
        <div class="grow truncate">
          <h3>
            <a href="" class="block w-full font-semibold hover:underline"
              >使用 SSE 实现消息推送</a
            >
          </h3>
          <div class="">
            本专题将由浅入深带你使用服务端发送事件（Server-Sent Events,
            SSE）实现 Web 应用的的消息推送。
          </div>
        </div>
      </li>
      <li
        class="flex items-center gap-x-4 bg-accent/60 rounded-lg p-4 hover:bg-accent/90"
      >
        <img
          src="https://file.axum.eu.org/icons/rust/rust-plain.svg"
          class="size-12 object-cover shrink-0"
        />
        <div class="grow truncate">
          <h3>
            <a href="" class="block w-full font-semibold"
              >使用 SSE 实现消息推送</a
            >
          </h3>
          <div class="">
            本专题将由浅入深带你使用服务端发送事件（Server-Sent Events,
            SSE）实现 Web 应用的的消息推送。
          </div>
        </div>
      </li>
      <li
        class="flex items-center gap-x-4 bg-accent/60 rounded-lg p-4 hover:bg-accent/90"
      >
        <img
          src="https://file.axum.eu.org/icons/rust/rust-plain.svg"
          class="size-12 object-cover shrink-0"
        />
        <div class="grow truncate">
          <h3>
            <a href="" class="block w-full font-semibold"
              >使用 SSE 实现消息推送</a
            >
          </h3>
          <div class="">
            本专题将由浅入深带你使用服务端发送事件（Server-Sent Events,
            SSE）实现 Web 应用的的消息推送。
          </div>
        </div>
      </li>
      <li
        class="flex items-center gap-x-4 bg-accent/60 rounded-lg p-4 hover:bg-accent/90"
      >
        <img
          src="https://file.axum.eu.org/icons/rust/rust-plain.svg"
          class="size-12 object-cover shrink-0"
        />
        <div class="grow truncate">
          <h3>
            <a href="" class="block w-full font-semibold"
              >使用 SSE 实现消息推送</a
            >
          </h3>
          <div class="">
            本专题将由浅入深带你使用服务端发送事件（Server-Sent Events,
            SSE）实现 Web 应用的的消息推送。
          </div>
        </div>
      </li>
      <li
        class="flex items-center gap-x-4 bg-accent/60 rounded-lg p-4 hover:bg-accent/90"
      >
        <img
          src="https://file.axum.eu.org/icons/rust/rust-plain.svg"
          class="size-12 object-cover shrink-0"
        />
        <div class="grow truncate">
          <h3>
            <a href="" class="block w-full font-semibold"
              >使用 SSE 实现消息推送</a
            >
          </h3>
          <div class="">
            本专题将由浅入深带你使用服务端发送事件（Server-Sent Events,
            SSE）实现 Web 应用的的消息推送。
          </div>
        </div>
      </li>
      <li
        class="flex items-center gap-x-4 bg-accent/60 rounded-lg p-4 hover:bg-accent/90"
      >
        <img
          src="https://file.axum.eu.org/icons/rust/rust-plain.svg"
          class="size-12 object-cover shrink-0"
        />
        <div class="grow truncate">
          <h3>
            <a href="" class="block w-full font-semibold"
              >使用 SSE 实现消息推送</a
            >
          </h3>
          <div class="">
            本专题将由浅入深带你使用服务端发送事件（Server-Sent Events,
            SSE）实现 Web 应用的的消息推送。
          </div>
        </div>
      </li>
    </ul>
  </section>
</div>

{% endblock %}
